@model IEnumerable<Trainee.Models.User>

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>User</h2>

    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Chức vụ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passwork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right)
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Users", new { id = item.Id })">Xóa</a>

                </td>
            </tr>
        }

    </table>
    <a href="/Home/Index">Trang chủ</a>
</div>
